{{!-- NEED TO STORE ID SOMEWHERE ON THIS --}}

<div class="fh5co-project masonry-brick">
    <a href="single">
        <img src="{{photoUrl}}" alt="Free HTML5 by FreeHTML5.co">
        <h2>{{name}}</h2>
        <p>{{price}}</p>
    </a>
</div>