<header id="fh5co-header" role="banner">
  <div class="container text-center">

    <nav>
      <ul>
        <li><a href="/new">Must Sell</a></li>
        <li class="active"><a href="/">Must Buy</a></li>
      </ul>
    </nav>
  </div>
</header>
<!-- END #fh5co-header -->


<div class="container-fluid pt70 pb70">
  <div id="fh5co-projects-feed" class="fh5co-projects-feed clearfix masonry">


    {{!-- **************************** REPLACE ALL BLOCKS WITH ITEM PARTIAL ************************************* --}}

    {{#each items}}
    {{> item}}
    {{/each}}

  </div>
  <!--END .fh5co-projects-feed-->
</div>
<!-- END .container-fluid -->