<header id="fh5co-header" role="banner">
  <div class="container text-center">
    <div id="fh5co-logo">
      <a href="/"><img src="images/logo.png" alt="Present Free HTML5 Bootstrap Template"></a>
    </div>
    <nav>
      <ul>
        <li class="active"><a href="/new">Must Sell</a></li>
        <li><a href="/">Must Buy</a></li>
      </ul>
    </nav>
  </div>
</header>
<!-- END #fh5co-header -->

<div class="page-content">
  <form>
    <div class="form-group">
      <label for="formGroupExampleInput"></label>
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Name of Product">
    </div>
    <form>
      <div class="row">
        <div class="col-sm-2">
          <input type="text" class="form-control" placeholder="Price">
        </div>
      </div>
    </form>
    <div class="form-group">
      <label for="formGroupExampleInput2"></label>
      <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Description of Product">
    </div>
  </form>

  <p class="text-center"><img src="images/person.jpg" alt="Free HTML5 by FreeHTML5.co"></p>

  <form>
    <div class="form-group">
      <label for="exampleFormControlFile1">Upload Photo of 'Must Sell' Product</label>
      <input type="file" class="form-control-file" id="exampleFormControlFile1">
    </div>
  </form>
</div>


<!-- END .container-fluid -->