<header id="fh5co-header" role="banner">
    <div class="container text-center">
        <div id="fh5co-logo">
            <a href="/"><img src="images/logo.png" alt="Present Free HTML5 Bootstrap Template"></a>
        </div>
        <nav>
            <ul>
                <li><a href="/new">Must Sell</a></li>
                <li class="active"><a href="/">Must Buy</a></li>
            </ul>
        </nav>
    </div>
</header>
<!-- END #fh5co-header -->

<div class="page-content">
    <h1 class="mb0">{{name}}</h1>
    <div class="meta"><span><a href="#">{{price}}</a>, <a href="#">USD</a></span></div>
    <p>{{description}}</p>
    <p><img src="{{photoUrl}}" alt="Free HTML5 by FreeHTML5.co"></p>
</div>